html {
    font-family: adobe-caslon-pro;
    font-weight: 400;
    font-style: normal;
}

body {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-weight: 400;
    font-size: 14pt;
    letter-spacing: 3px;
    margin-bottom: 0px;
    margin-top: 20px;
}

h2 {
    font-weight: 400;
    font-size: 12pt;
    letter-spacing: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    font-size: 12px;
    margin-top: 0px;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.wrapper {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    height: 100vh;
}

.title {
    text-align: right;
    border-bottom: 1px solid black;
}

.nav {
    text-align: right;
    border-bottom: 1px solid black;
}

#content {
    position: relative;
    margin-top: 10px;
    overflow: auto;
}

#index-links-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.index-links {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
}

.index-links:hover {
    border-bottom: 1px solid black;
}

.footer {
    text-align: right;
    border-top: 1px solid black;
    padding-top: 10px;
}

.page-container {
    margin-top: 25vh;
}

.page-container:last-child {
    margin-bottom: 25vh;
}

@media screen and (min-width:750px) {
    #spreads-container {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .page-container {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        position: relative;
    }

    .page-container:nth-child(odd) > canvas {
        position: absolute;
        right: 0;
    }
}

.pdf-page {
    border: 1px solid black;
    direction: ltr;
}

.pdf-footer {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
}

.page-controls {
    text-align: center;
    grid-column: 2;
}

.page-controls:hover {
    cursor: pointer;
}

.page-number {
    grid-column: 3;
}

.hidden {
    transition: all .35s ease-in;
}

.nav.hideable.hidden {
    opacity: 0;
}

.footer.hideable.hidden {
    border-top: none;
}

.page-number.hideable.hidden {
    display: none;
}

#details-container {
    text-align: right;
    margin-left: 25vw;
}

#details {
    font-style: italic;
}

#view-link {
    border-bottom: 1px solid black;
}


@media screen and (min-width:750px) {
    #img-container {
        max-height: 66vh;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        cursor: ns-resize;
    }

    #img-container::-webkit-scrollbar {
        display: none;
    }

    #entries-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }
}

#img-container img {
    width: 100%;
}

#img-container img:not(:last-child) {
    margin-bottom: 40px;
}

.entry {
    margin-bottom: 15px;
}

.entry-wrapper-link {
    display: block;
}

.entry-title {
    text-align: right;
    margin-bottom: -5px;
}

.entry-img {
    width: 100%;
}

@media screen and (max-width: 750px) {
    .hide-mobile { 
        display: none;
     }
}
